<?xml version="1.0" ?>
<configuration label="Louisville Police Stations">
    <marquee>http://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Louisville/LOJIC_PublicSafety_Louisville/MapServer/3</marquee>
    <items>
      <field dated="3-Aug-2023" description="NSMA presents Onam 2023 &lt;br/&gt;&lt;br/&gt;
&lt;img src='https://raw.githubusercontent.com/joseph-jose/www/master/2023/Onam/onam2023Presents.jpg' /&gt;
" />        
      <field dated="7-Sep-2022" description="Maestro is in Auckland on 24 Sep 2022 &lt;br/&gt;&lt;br/&gt;
&lt;img src='https://raw.githubusercontent.com/joseph-jose/www/master/2022/Onam/ilayiAuckland.jpeg' /&gt;
" />
      <field dated="10-Sep-2022" description="Indian weekender on next HCI &lt;br/&gt;&lt;br/&gt;
&lt;img src='https://raw.githubusercontent.com/joseph-jose/www/master/2022/Onam/NBhushanHCI.jpeg' /&gt;
" />
      <field dated="30-Mar-2020" description="Please pass this to any Indian national, who needs help due to the lockdown in NZ &lt;br/&gt;&lt;br/&gt;
&lt;img src='https://raw.githubusercontent.com/joseph-jose/www/master/2020/coronoNZIn.jpg' /&gt;
" />
      <field dated="23-Mar-2020" description="Hello Everyone,&lt;br/&gt;&lt;br/&gt; 
As you will have seen in the media, the Newzealand Prime Minister has announced a range of measures to protect New Zealanders from COVID-19. After midnight Sunday 15 March all people entering NZ from anywhere overseas (with the exception of a small number of Pacific Island nations) will be required to self-isolate for 14 days.This is a significant step undertaken by the Newzealand Government to reduce and slow the transmission of COVID-19 in our community.&lt;br/&gt;&lt;br/&gt;
 
If you are planning on going overseas in the near future, strongly encourage you to check the Government’s Safe Travel website ( https://www.safetravel.govt.nz/)which advises New Zealanders to avoid all non-essential travel overseas. If you must still travel, the government will require you to self-isolate for 14 days upon returning to NZ.&lt;br/&gt;&lt;br/&gt; 
Kind regards&lt;br/&gt;
Team NSMA
" />
<field dated="5-Sep-2019" description="&lt;img src='https://raw.githubusercontent.com/joseph-jose/www/master/2019/kiran2019.jpg' /&gt;&lt;br/&gt;&lt;br/&gt;Dear friends,&lt;br/&gt;&lt;br/&gt;With profound sorrow, NSMA announces the sad demise of Mr. Kiran George Jose, in a fatal car accident in Waikato this evening.&lt;br/&gt;&lt;br/&gt;Kiran is the Brother-in-Law of Mrs. Shona Anil and Dona Xaviour and the co-brother of Mr. Anil and Xavier, who are the active members of Northshore Malayali Association.The President and executive committee of Northshore Malayali association express our heartfelt condolences to the bereaved family. Kindly join all our prayers for eternal peace to the departed soul.&lt;br/&gt;&lt;br/&gt;Thanking you&lt;br/&gt;TEAM NSMA
"/>
<field dated="30-Jan-2018" description="With immense sorrow, we inform you the sad demise of Mrs Teena Kunjappan (29), a native of  Kundara, Kollam. Teena is the tragic victim of an accidental drowning at Tahunanui Beach, Nelson, 
where she and her husband Mr. Jilu C John had gone for a stroll. She died at the scene before the arrival of the emergency services and Jilu was taken to Nelson Hospital in a moderate condition.
We are looking forward for helping the family for the repatriation to India. Kindly, come forward for raising funds to help the family, 
Please use below link for ur contributions.&lt;br&gt; &lt;xlink:href='https://givealittle.co.nz/cause/raising-money-to-repatriate-the-remains-of-mrs' 
xlink:show='new'/&gt;
"/>
      <field dated="07-Jan- 2018" description="It is with sorror we inform you the sad demise of Mr V.V Cherian (87), Valiyaveetil, father of Siby cherian residing at 2/23 Brooke street Milford. He passed away in kerala and the funeral will be held on 8th -Jan-2018 at 10 am at kudamaloor church. Please put together all our prayers for the departed soul.&lt;br/&gt;
&lt;img src='https://raw.githubusercontent.com/joseph-jose/www/master/2018/Notices/Siby.jpg' /&gt;
"/>
    </items>
</configuration>

